thepaper.pdf
*.fdb_latexmk
*.fls
*Notes.bib
*.synctex.gz
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.swp
*.dvi
*.zip
diff.*
old.tex
.DS_Store


sn-article.pdf
response/respone.pdf
response/comments.txt
respone.pdf
