# =========================
# General LaTeX .gitignore
# =========================

data/
*.fdb_latexmk
*.fls
*Notes.bib
*.synctex.gz
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.swp
*.dvi
diff.*
.DS_Store

*.par
_minted*

*.pdf

# 编译缓存 (例如 arara)
.arara/
